body {
  font-family: 'Poppins', sans-serif;
  background-color: rgb(10, 10, 10);
  color: white;
  background-image: url('./images/vegetables-set-left-black-slate.jpg');
  background-size: cover;
}

.home-container {
  text-align: center;
  padding: 20px;
}

.home-container h1 {
  font-size: 24px;
  margin-bottom: 10px;
}

.home-container p {
  font-size: 18px;
  margin-bottom: 20px;
}

.home-container img {
  max-width: 100%;
  height: auto;
}
