body {
  font-family: 'Poppins', sans-serif;
  background-color: rgb(10, 10, 10);
  color: rgb(218, 134, 51);
  background-image: url('./images/vegetables-set-left-black-slate.jpg');
  background-size: cover;
}

.head {
  font-size: 70px;
  align-items: center;
  margin-top: 150px;
}

.home-container {
  text-align: center;
  padding: 20px;
  
  font-weight: bold;
}

.home-container h1 {
  font-size: 24px;
  margin-bottom: 10px;
}

.home-container p {
  font-size: 18px;
  margin-bottom: 20px;
}

.home-container img {
  max-width: 100%;
  height: auto;
}

.p {
  color: white;
  font-size: 30px;
  margin: 40px 25% 100px 25%;

}


.menu-button {
  display: inline-block;
  background-color: transparent;
  color: #ebb011;
  padding: 10px 20px;
  border: 1px solid yellow;
  border-radius: 13px;
  text-decoration: none;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

.menu-button:hover {
  background-color: rgba(0, 123, 255, 0.1);
}