/* Navbar.css */

.navbar-container {
  position: sticky;
  top: 0;
  z-index: 1; /* Ensure the navbar appears above other content */
  background-color: transparent; /* Set the background color to transparent */
  padding: 10px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.navbar-list {
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
}

.navbar-item {
  margin: 0 10px;
}

.navbar-item a {
  text-decoration: none;
  color: #f15f0b;
  font-weight: bold;
  font-size: 18px;
}

.navbar-item a:hover {
  color: #d4b91e;
}
